/*Banner principal*/
.banner-fondo{
    background-image: url(../images/slider-banner/Slider-1.jpg);
    background-size: cover;
    animation-name:imagenfondo!important;
    animation-delay: 3s;
    animation-duration: 25s;
    animation-iteration-count:infinite;
    margin-bottom:5%;
}
/*Animacion de imagenes*/
@keyframes imagenfondo{
    0%{background-image: url(../images/slider-banner/Slider-1.jpg);}
    25%{background-image: url(../images/slider-banner/Slider-2.jpg);}
    50%{background-image: url(../images/slider-banner/Slider-1.jpg);}
    75%{background-image: url(../images/slider-banner/Slider-2.jpg);}
    100%{background-image: url(../images/slider-banner/Slider-1.jpg);}
}
/*Animacion de imagenes pequeñas*/
@keyframes imagenfondopequeño{
    0%{background-image: url(../images/slider-banner-pequeño/Slider-1.jpg);}
    25%{background-image: url(../images/slider-banner-pequeño/Slider-2.jpg);}
    50%{background-image: url(../images/slider-banner-pequeño/Slider-1.jpg);}
    75%{background-image: url(../images/slider-banner-pequeño/Slider-2.jpg);}
    100%{background-image: url(../images/slider-banner-pequeño/Slider-1.jpg);}
}
/*Media Query Para una vista movil*/
@media screen and (max-width:600px){
    /*Banner principal*/
    .banner-fondo{
        background-image: url(../images/slider-banner-pequeño/Slider-1.jpg);
        animation-name:imagenfondopequeño!important;
    }
}