/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.contenedor-productos{
    margin-bottom: 0!important;
}
.titulos-productos{
    text-align: center;
    width:100%;
    padding: 3%;
}
.img-producto{
    width:70%;
    box-shadow:2px 2px 8px 2px rgb(189, 189, 189);
    padding:1%;
}
/*Columna de servicios*/
.columna-informacion{
    padding:2%;
}
/*Ocultar secciones*/
#seccion-6, #seccion-5, #seccion-4, #seccion-3, #seccion-2, #seccion-7, #seccion-8, #seccion-9, #seccion-10, #seccion-11,#seccion-12, #seccion-13, #seccion-14, #seccion-15 {
    display:none;
}
/*titulos*/
.media-body h4{
    font-family: 'Dancing Script', cursive;
    padding: 2%;
}
.media-body a{
    background-color: rgb(0, 0, 0);
    padding: 10!important;
}
.media-body a:hover{
    background-color: rgb(202, 202, 202);
    color:black;
    animation-name: botones;
    animation-duration: 0.5s;
}
@keyframes botones{
    0%{background-color:black ;}
    25%{background-color:rgb(26, 25, 25) ;}
    50%{background-color:rgb(88, 88, 88) ;}
    75%{background-color:rgb(128, 128, 128) ;}
    100%{background-color:rgb(199, 199, 199) ;}
}
.img-show{
    width:100%!important;
}
/*Media Query Para una vista movil*/
@media screen and (max-width:600px){
    .titulos-productos{
        font-size:25px;
    }
    .img-producto{
        width:100%;
    }
}